.dashboard-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-background)
  }
  .dashboard-content {
    display: flex;
    flex: 1;
    height: 100%
  }
  .main-content {
    flex: 1;
    padding: var(--spacing-6);
    overflow-y: auto;
  }
  
  @media (max-width: 768px) {
    .main-content {
      padding: var(--spacing-4);
    }

    .dashboard-content {
      flex-flow: column nowrap;
    }
  }